@use '../../../scss/abstract/'as a;

.button {
  font: inherit;
  border: 1px solid a.$gray;
  color: a.$gray;
  cursor: pointer;
  transition: .3s;

  &>a {
    @include a.flex();
    padding: 0 1rem;
    width: 100%;
    height: 100%;
  }

  &>a svg {
    margin-right: .3em;
  }

  &:hover,
  &:active {
    background-color: a.$gray;
    color: #fff;
  }

  &:focus {
    outline: none;
  }
}